<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
</head>
<body>
    <form action="/register" method="post">
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}
        <h2>FLASH!</h2>                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Email Address:
        <input type="text" name="email">
        <p><input type="submit" value="Add Email"></p>
    </h2>
    </form>
</body>
</html>